<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <title>Spring Security</title>
    </head>
    <body>
        <h1>Welcome to Spring Security！</h1>
        <p>點擊 <a th:href="@{/goods}">Goods</a> 進入資料</p>
        <p>點擊 <a th:href="@{/newBooks}">New Book</a> 進入新書通告</p>
        <form th:action="@{/createUser}" method="post">
            <input type="submit" value="CreateNewUser"/>
        </form>
    </body>
</html>

